/* ============================================= */
/*              Images                           */
/* ============================================= */

img {
    margin: 30px;
    border-radius: 5px;
    border: 1px solid $cream;
}