/* ============================================= */
/*              Images                           */
/* ============================================= */

img {
    margin: 30px;
    border-radius: 5px;
    border: 1px solid $cream;
    box-shadow: 1px 1px 10px $grey;
}