/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.searchbar {
    @include flexy($dir: column, $align: center);
    margin: 20px;
}

input[type="search"] {
    width: 45%;
    height: 45px;
    padding: 10px;
    border: 1px solid $border;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 100;
    background-color: $cream;
    opacity: .5;
    transition: 100ms;
    &:focus {
        width: 50%;
        box-shadow: 1px 1px 5px $grey;
        opacity: 1;
    }
}