/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.searchbar {
    @include flexy($dir: column, $align: center);
    margin: 20px;
}

input[type="search"] {
    width: 45%;
    height: 45px;
    padding: 10px;
    border: 1px solid $border;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 100;
    background-color: $space;
    transition: 100ms;
    &:focus {
        padding: 15px;
        box-shadow: 1px 1px 10px $cream;
    }
}