/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
    font-family: 'IBM Plex Serif', serif;
    margin: auto;
    color: $cream;
}


h1 {
    font-size: 2rem;
    font-weight: 200;
}