/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
    font-family: 'IBM Plex Serif', serif;
    margin: auto;
    color: $space;
}

h1 {
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .2rem;
} 